<div class="itemContainer">
  <div class="row">
    <div
      class="mat-display-3"
      style="
        text-align: center;

        font-family: 'Lora', serif;
        padding-top: 80px;
        color: #384951;
      "
    >
      Shopping List
    </div>
    <mat-card
      *ngFor="let item of shoppingList; let i = index"
      (click)="openProduct(item)"
      style="margin: 5px"
      data-aos="fade-up"
      data-aos-duration="1000"
      data-aos-anchor=".mat-display-2"
    >
      <div class="row">
        <div class="col-md-2">
          <img
            style="max-width: 30px; height: auto"
            [src]="
              item.image_url
                ? item.image_url
                : 'https://cdn-icons-png.flaticon.com/512/1187/1187516.png?w=826'
            "
          />
        </div>
        <div class="col-md-9">
          {{ item.product_name ? item.product_name : item.product_name_fr }}
        </div>
        <div class="col-md-1">
          <button
            class="RemoveFromShoppingList"
            mat-raised-button
            aria-label="Example icon button with a delete icon"
            (click)="RemoveFromShoppingList(item, i)"
          >
            <span class="material-icons"> delete </span>
          </button>
        </div>
      </div>
    </mat-card>
    <!-- <mat-card
      class="example-card"
      style="
        width: 200px;
        height: 400px;
        margin: 20px;
        box-shadow: -2px 8px 20px 0px rgba(0, 0, 0, 0.6);
        border-radius: 5px;
      "
      *ngFor="let item of shoppingList; let i = index"
    >
      <mat-card-header>
        <h1 class="row" style="cursor: pointer" (click)="openProduct(item)">
          {{ item.product_name ? item.product_name : item.product_name_fr }}
        </h1>
      </mat-card-header>
      <img
        mat-card-image
        class="mx-auto d-block"
        style="
          max-height: 100px;
          width: auto;
          max-width: 100px;
          border: 2px solid rgb(211, 211, 211);
          border-radius: 4px;
          cursor: pointer;
        "
        [src]="
          item.image_url
            ? item.image_url
            : 'https://cdn-icons-png.flaticon.com/512/1187/1187516.png?w=826'
        "
        alt=""
        (click)="openProduct(item)"
      />
      <mat-card-content>
        <p></p>
      </mat-card-content>
      <mat-card-actions>
        <button
          class="RemoveFromShoppingList"
          style="width: 90%"
          mat-raised-button
          aria-label="Example icon button with a delete icon"
          (click)="RemoveFromShoppingList(item, i)"
        >
          <span class="material-icons"> delete </span>
        </button>
      </mat-card-actions>
    </mat-card> -->
    <div
      *ngIf="shoppingList.length === 0"
      class="mat-display-2"
      style="
        text-align: center;
        margin-top: 10px;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        color: #384951;
      "
    >
      Your shopping list is empty!
    </div>
  </div>
</div>
