<div class="container">
  <div
    class="row"
    data-aos="fade-down"
    data-aos-duration="1500"
    data-aos-anchor=".mat-display-2"
  >
    <div
      class="mat-display-4"
      style="
        text-align: center;

        font-family: 'Lora', serif;

        color: #384951;
      "
    >
      Fitness Tab
    </div>

    <div class="container" style="text-align: center">
      <div class="row">
        <div class="col-md-6">
          <h1 class="displaySubheading">Log Date : {{ date }}</h1>
        </div>
        <div class="col-md-6">
          <button
            [disabled]="logSearching"
            mat-mini-fab
            style="cursor: pointer; margin: 20px"
            (click)="OnDateChange(date, subtract)"
            color="white"
            aria-label="Example icon button with a plus one icon"
          >
            <mat-icon style="color: #e4efe2">arrow_back_ios_new</mat-icon>
          </button>
          <mat-form-field appearance="fill">
            <mat-label>{{ date }}</mat-label>
            <input
              (dateInput)="OnDateChange($event.value, null)"
              matInput
              [matDatepicker]="picker"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <button
            [disabled]="logSearching"
            mat-mini-fab
            style="cursor: pointer; margin: 20px"
            (click)="OnDateChange(date, add)"
            color="white"
            aria-label="Example icon button with a plus one icon"
          >
            <mat-icon style="color: #e4efe2">arrow_forward_ios_new</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="container">
      <h1 class="displaySubheading" *ngIf="currentCalories === 0">0%</h1>
      <h1 class="displaySubheading" *ngIf="currentCalories > 0">
        {{ value | number }}%
      </h1>
      <mat-progress-bar mode="buffer" [value]="value"></mat-progress-bar>
      <h1 class="displaySubheading">
        {{ currentCalories | number }} out of
        {{ totalCalories | number }} calories
      </h1>
    </div>
  </div>
  <div class="row">
    <div
      class="col-md-6"
      data-aos="fade-right"
      data-aos-duration="1500"
      data-aos-anchor=".mat-display-2"
    >
      <div
        class="mat-display-3"
        style="
          text-align: center;
          font-family: 'Lora', serif;
          padding-top: 80px;
          color: #384951;
        "
      >
        Current Macros for the day
      </div>
      <mat-divider></mat-divider>
      <mat-list class="displaySubheading">
        <mat-list-item class="displaySubheading">
          Carbs : {{ currentCarbs | number }} out of
          {{ totalCarbs | number }}</mat-list-item
        >
        <mat-progress-bar
          style="margin-left: 16px; width: 98%"
          mode="buffer"
          [value]="(currentCarbs / totalCarbs) * 100"
        ></mat-progress-bar>
        <mat-list-item class="displaySubheading">
          Fats : {{ currentFats | number }} out of
          {{ totalFats | number }}</mat-list-item
        >
        <mat-progress-bar
          style="margin-left: 16px; width: 98%"
          mode="buffer"
          [value]="(currentFats / totalFats) * 100"
        ></mat-progress-bar>
        <mat-list-item class="displaySubheading">
          Protiens : {{ currentProteins | number }} out of
          {{ totalProteins | number }}</mat-list-item
        >
        <mat-progress-bar
          style="margin-left: 16px; width: 98%"
          mode="buffer"
          [value]="(currentProteins / totalProteins) * 100"
        ></mat-progress-bar>
      </mat-list>
    </div>

    <div
      class="col-md-6"
      data-aos="fade-left"
      data-aos-duration="1500"
      data-aos-anchor=".mat-display-2"
      *ngIf="
        pieChartData.datasets[0].data[0] +
          pieChartData.datasets[0].data[1] +
          pieChartData.datasets[0].data[2] !==
          0 && !toggleFoodLog
      "
    >
      <div class="row justify-content-end">
        <button
          matTooltipPosition="above"
          matTooltip="View Food Log"
          mat-mini-fab
          [disabled]="
            pieChartData.datasets[0].data[0] +
              pieChartData.datasets[0].data[1] +
              pieChartData.datasets[0].data[2] ===
            0
          "
          (click)="this.toggleFoodLog = !this.toggleFoodLog"
        >
          <mat-icon style="color: #e4efe2">view_list</mat-icon>
        </button>
      </div>

      <div class="chart">
        <canvas
          baseChart
          [data]="pieChartData"
          [type]="pieChartType"
          [options]="pieChartOptions"
          [plugins]="pieChartPlugins"
        >
        </canvas>
      </div>
    </div>
    <div
      class="col-md-6"
      data-aos="fade-left"
      data-aos-duration="1500"
      data-aos-anchor=".mat-display-2"
      *ngIf="
        pieChartData.datasets[0].data[0] +
          pieChartData.datasets[0].data[1] +
          pieChartData.datasets[0].data[2] ===
          0 && !toggleFoodLog
      "
    >
      <div
        class="mat-display-3"
        style="
          text-align: center;
          font-family: 'Poppins', sans-serif;
          font-weight: bold;
          padding-top: 80px;
          color: #384951;
        "
      >
        Empty Log
      </div>
    </div>
    <div
      class="col-md-6"
      data-aos="fade-left"
      data-aos-duration="1500"
      data-aos-anchor=".mat-display-2"
      *ngIf="toggleFoodLog"
    >
      <div class="row justify-content-end" style="margin-bottom: 20px">
        <button
          matTooltipPosition="above"
          matTooltip="View Macros"
          mat-mini-fab
          [disabled]="
            pieChartData.datasets[0].data[0] +
              pieChartData.datasets[0].data[1] +
              pieChartData.datasets[0].data[2] ===
            0
          "
          (click)="this.toggleFoodLog = !this.toggleFoodLog"
        >
          <mat-icon style="color: #e4efe2">pie_chart</mat-icon>
        </button>
      </div>
      <div class="container itemContainer">
        <mat-card
          *ngFor="let item of foodLog; let i = index"
          (click)="openProduct(item)"
          style="margin: 5px; width: 500px; height: auto; cursor: pointer"
          data-aos="fade-up"
          data-aos-duration="1000"
          data-aos-anchor=".mat-display-2"
        >
          <div
            class="row"
            style="display: flex; align-items: center; justify-content: center"
          >
            <div
              class="col-md-2"
              style="
                display: flex;
                align-items: center;
                justify-content: center;
              "
            >
              <img
                class="mx-auto my-auto img-fluid"
                style="max-height: 75px; width: auto; cursor: pointer"
                [src]="
                  item.image_url
                    ? item.image_url
                    : 'https://cdn-icons-png.flaticon.com/512/1187/1187516.png?w=826'
                "
              />
            </div>
            <div
              class="col-md-7"
              style="
                display: flex;

                justify-content: center;

                align-items: center;
              "
            >
              <h1 class="displaySubheading" style="cursor: pointer">
                {{
                  item.product_name ? item.product_name : item.product_name_fr
                }}
              </h1>
            </div>
            <div class="col-md-3">
              <span
                [matBadge]="item.numberOfGrams + 'g'"
                style="color: #384951; transform: scale(1.5)"
                class="material-icons"
              >
                scale
              </span>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>
