<div class="container">
  <div
    class="row"
    data-aos="fade-down"
    data-aos-duration="1500"
    data-aos-anchor=".mat-display-2"
  >
    <div
      class="mat-display-4"
      style="
        text-align: center;

        font-family: 'Lora', serif;

        color: #384951;
      "
    >
      Fitness Tab
    </div>

    <div class="container" style="text-align: center">
      <div class="row">
        <div class="col-md-6">
          <h1 class="displaySubheading">Log Date : {{ date }}</h1>
        </div>
        <div class="col-md-6">
          <button
            [disabled]="logSearching"
            mat-mini-fab
            style="cursor: pointer; margin: 20px"
            (click)="OnDateChange(date, subtract)"
            color="white"
            aria-label="Example icon button with a plus one icon"
          >
            <mat-icon style="color: #e4efe2">arrow_back_ios_new</mat-icon>
          </button>
          <mat-form-field appearance="fill">
            <mat-label>{{ date }}</mat-label>
            <input
              (dateInput)="OnDateChange($event.value, null)"
              matInput
              [matDatepicker]="picker"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <button
            [disabled]="logSearching"
            mat-mini-fab
            style="cursor: pointer; margin: 20px"
            (click)="OnDateChange(date, add)"
            color="white"
            aria-label="Example icon button with a plus one icon"
          >
            <mat-icon style="color: #e4efe2">arrow_forward_ios_new</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="container">
      <h1 class="displaySubheading" *ngIf="currentCalories === 0">0%</h1>
      <h1 class="displaySubheading" *ngIf="currentCalories > 0">
        {{ value | number }}%
      </h1>
      <mat-progress-bar mode="buffer" [value]="value"></mat-progress-bar>
      <h1 class="displaySubheading">
        {{ currentCalories | number }} out of
        {{ totalCalories | number }} calories
      </h1>
    </div>
  </div>
  <div class="row">
    <div
      class="col-md-6"
      data-aos="fade-right"
      data-aos-duration="1500"
      data-aos-anchor=".mat-display-2"
    >
      <div
        class="mat-display-3"
        style="
          text-align: center;
          font-family: 'Lora', serif;
          padding-top: 80px;
          color: #384951;
        "
      >
        Current Macros for the day
      </div>
      <mat-divider></mat-divider>
      <mat-list class="displaySubheading">
        <mat-list-item class="displaySubheading">
          Carbs : {{ currentCarbs | number }} out of
          {{ totalCarbs | number }}</mat-list-item
        >
        <mat-progress-bar
          style="margin-left: 16px; width: 98%"
          mode="buffer"
          [value]="(currentCarbs / totalCarbs) * 100"
        ></mat-progress-bar>
        <mat-list-item class="displaySubheading">
          Fats : {{ currentFats | number }} out of
          {{ totalFats | number }}</mat-list-item
        >
        <mat-progress-bar
          style="margin-left: 16px; width: 98%"
          mode="buffer"
          [value]="(currentFats / totalFats) * 100"
        ></mat-progress-bar>
        <mat-list-item class="displaySubheading">
          Protiens : {{ currentProteins | number }} out of
          {{ totalProteins | number }}</mat-list-item
        >
        <mat-progress-bar
          style="margin-left: 16px; width: 98%"
          mode="buffer"
          [value]="(currentProteins / totalProteins) * 100"
        ></mat-progress-bar>
      </mat-list>
    </div>
    <div
      class="col-md-6"
      data-aos="fade-left"
      data-aos-duration="1500"
      data-aos-anchor=".mat-display-2"
      *ngIf="
        pieChartData.datasets[0].data[0] +
          pieChartData.datasets[0].data[1] +
          pieChartData.datasets[0].data[2] !==
        0
      "
    >
      <div class="chart">
        <canvas
          baseChart
          [data]="pieChartData"
          [type]="pieChartType"
          [options]="pieChartOptions"
          [plugins]="pieChartPlugins"
        >
        </canvas>
      </div>
    </div>
    <div
      class="col-md-6"
      data-aos="fade-left"
      data-aos-duration="1500"
      data-aos-anchor=".mat-display-2"
      *ngIf="
        pieChartData.datasets[0].data[0] +
          pieChartData.datasets[0].data[1] +
          pieChartData.datasets[0].data[2] ===
        0
      "
    >
      <div
        class="mat-display-3"
        style="
          text-align: center;
          font-family: 'Poppins', sans-serif;
          font-weight: bold;
          padding-top: 80px;
          color: #384951;
        "
      >
        Empty Log
      </div>
    </div>
  </div>
</div>
