.footer {
  margin-top: 0px;
  width: 100%;
  padding: 100px 15%;
  background: #333;
  color: #efefef;
}
a {
  color: inherit;
  text-decoration: none;
}
.icons {
  transform: scale(2);
}
.fab {
  margin: 5px;
}
.col-3 {
  text-align: center;
}
form input {
  height: 45px;
  border-radius: 4px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  outline: none;
  border: none;
}
.displayHeading {
  text-align: center;
  font-family: "Lora", serif;
  color: #ffffff;
}
.displaySubheading {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #ffffff;
}
.useful div {
  display: block;
  margin: 5px;
}
