<div
  class="container"
  style="margin-top: 5%"
  data-aos="fade-down"
  data-aos-duration="1200"
  *ngIf="isLoginMode"
>
  <div class="row">
    <div class="mat-display-1 displaySubheading">Welcome Back!</div>
  </div>
  <div class="row">
    <div class="alert alert-danger" *ngIf="error">
      <p>{{ error }}</p>
    </div>
    <div
      *ngIf="isLoading"
      style="
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 0 auto;
      "
    >
      <mat-spinner></mat-spinner>
    </div>
    <div class="row">
      <form
        style="text-align: center; overflow: hidden"
        #authForm="ngForm"
        (ngSubmit)="onSubmit(authForm)"
        *ngIf="!isLoading"
      >
        <p>
          <mat-form-field appearance="outline">
            <mat-label>E-Mail</mat-label>
            <input
              matInput
              type="email"
              id="email"
              ngModel
              name="email"
              required
              email
            />
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input
              matInput
              type="password"
              id="password"
              ngModel
              name="password"
              required
              min="6"
            />
          </mat-form-field>
        </p>
        <div class="row" style="justify-content: center; margin: 20px">
          <div class="row" style="justify-content: center; margin: 20px">
            <button
              style="margin: 10px"
              mat-raised-button
              class="signUpButton"
              type="submit"
              [disabled]="!authForm.valid"
            >
              Login
            </button>
          </div>
          <mat-divider style="width: 30%"></mat-divider>
          <div class="row" style="justify-content: center; margin: 20px">
            <button
              style="margin: 10px"
              mat-raised-button
              class="signUpButton"
              type="button"
              routerLink="../signup"
            >
              Need to create an account? Sign Up
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div
  class="container"
  style="margin-top: 5%; max-width: fit-content"
  data-aos="fade-down"
  data-aos-duration="1200"
  *ngIf="!isLoginMode"
>
  <div class="row">
    <div class="row">
      <div class="mat-display-1 displaySubheading">New Member Sign-up</div>
    </div>
    <div class="row">
      <div
        class="mat-subheading-2"
        style="
          text-align: center;
          font-family: 'Poppins', sans-serif;
          font-weight: bold;
          color: #384951;
        "
      >
        *Please complete the form below
      </div>
    </div>
  </div>
  <form [formGroup]="user" (ngSubmit)="onSignUp()">
    <mat-horizontal-stepper
      formArrayName="userDetails"
      linear
      style="
        border-radius: 15px;
        padding: 5px;
        background-color: #e4efe2;
        min-height: 350px;
      "
    >
      <ng-template matStepperIcon="edit">
        <mat-icon
          style="
            background-color: #a4d0af;
            color: white;
            border-radius: 50%;
            transform: scale(1.5);
          "
          >check</mat-icon
        >
      </ng-template>
      <!-- STEP 1 GOAL -->
      <mat-step
        formGroupName="0"
        label="Goal"
        [stepControl]="userDetails.get([0])"
      >
        <div class="stepContainer">
          <div class="row">
            <mat-form-field appearance="outline">
              <mat-select formControlName="goal" placeholder="Choose a goal">
                <mat-option
                  *ngFor="let goal of goals; let i = index"
                  [value]="goal"
                  >{{ goal }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="row buttons">
            <button
              type="button"
              mat-button
              matStepperPrevious
              style="margin: 5px"
              class="signUpButton"
            >
              Back
            </button>
            <button
              type="button"
              mat-button
              matStepperNext
              style="margin: 5px"
              class="signUpButton"
            >
              Next
            </button>
          </div>
        </div>
      </mat-step>

      <!-- STEP 2 FIRST AND LAST NAME -->
      <mat-step
        formGroupName="1"
        label="Name"
        [stepControl]="userDetails.get([1])"
      >
        <div class="stepContainer">
          <div class="row">
            <mat-form-field appearance="outline">
              <mat-label>First Name</mat-label>
              <input matInput formControlName="firstName" />
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field appearance="outline">
              <mat-label>Last Name</mat-label>
              <input matInput formControlName="lastName" />
            </mat-form-field>
          </div>
          <div class="row buttons">
            <button
              type="button"
              mat-button
              matStepperPrevious
              style="margin: 5px"
              class="signUpButton"
            >
              Back
            </button>
            <button
              type="button"
              mat-button
              matStepperNext
              style="margin: 5px"
              class="signUpButton"
            >
              Next
            </button>
          </div>
        </div>
      </mat-step>
      <!-- STEP 3 AGE, HEIGHT, WEIGHT, ACTIVITY LVL, GENDER -->
      <mat-step
        formGroupName="2"
        label="Personal Details"
        [stepControl]="userDetails.get([2])"
      >
        <div class="stepContainer">
          <div class="row">
            <mat-form-field appearance="outline">
              <mat-label>Age</mat-label>
              <input type="number" matInput formControlName="age" />
            </mat-form-field>
          </div>
          <div class="row">
            <div class="col-md-6" style="width: fit-content">
              <mat-form-field appearance="outline">
                <mat-label>Feet</mat-label>
                <input type="number" matInput formControlName="feet" />
              </mat-form-field>
            </div>
            <div class="col-md-6" style="width: fit-content">
              <mat-form-field appearance="outline">
                <mat-label>Inches</mat-label>
                <input type="number" matInput formControlName="inches" />
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <mat-form-field appearance="outline">
              <mat-label>Weight</mat-label>
              <input type="number" matInput formControlName="weight" />
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field appearance="outline">
              <mat-label>Activity LVL 1-7</mat-label>
              <input type="number" matInput formControlName="activity" />
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field appearance="outline">
              <mat-select formControlName="gender" placeholder="Gender">
                <mat-option
                  *ngFor="let gender of genders; let i = index"
                  [value]="gender"
                  >{{ gender }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="row buttons">
            <button
              type="button"
              mat-button
              matStepperPrevious
              style="margin: 5px"
              class="signUpButton"
            >
              Back
            </button>
            <button
              type="button"
              mat-button
              matStepperNext
              style="margin: 5px"
              class="signUpButton"
            >
              Next
            </button>
          </div>
        </div>
      </mat-step>
      <!-- STEP 4 EMAIL, PASSOWRD SUBMIT -->
      <mat-step
        formGroupName="3"
        label="Email & Password"
        [disabled]
        [stepControl]="userDetails.get([3])"
      >
        <div class="stepContainer">
          <div class="row">
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input
                matInput
                placeholder="BillBoy12@email.com"
                formControlName="email"
              />
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input
                matInput
                formControlName="password"
                placeholder="SuperSafePass"
              />
            </mat-form-field>
          </div>
          <div class="row buttons">
            <button
              type="button"
              mat-button
              matStepperPrevious
              style="margin: 5px"
              class="signUpButton"
            >
              Back
            </button>
            <button
              type="submit"
              mat-button
              matStepperNext
              style="margin: 5px"
              class="signUpButton"
              [disabled]="!user.valid"
            >
              Submit
            </button>
          </div>
        </div>
      </mat-step>
      <mat-step label="Welcome!" [disabled]>
        <div class="stepContainer">
          <div class="row">
            <div class="alert alert-danger" *ngIf="error">
              <p>{{ error }}</p>
            </div>
            <div *ngIf="!error" class="mat-display-1 displaySubheading">
              Welcome to Healthy-U
            </div>
          </div>
          <div class="row justify-content-center">
            <button
              type="button"
              mat-button
              matStepperPrevious
              style="margin: 5px"
              class="signUpButton"
              *ngIf="error"
            >
              Edit
            </button>
            <button
              type="button"
              mat-button
              style="margin: 5px"
              class="signUpButton"
              (click)="redirect()"
              *ngIf="!error"
            >
              Explore
            </button>
          </div>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </form>
  <div class="container">
    <mat-divider style="margin-top: 25px"></mat-divider>
    <div class="row" style="justify-content: center; margin: 20px">
      <button
        style="margin: 10px"
        mat-raised-button
        class="signUpButton"
        type="button"
        routerLink="../login"
      >
        Already a user? Click here to Login
      </button>
    </div>
  </div>
</div>
