<div
  class="container"
  data-aos="fade-down"
  data-aos-duration="1000"
  data-aos-anchor=".mat-headline"
>
  <div class="form-group">
    <div class="input-group">
      <input
        type="string"
        class="form-control"
        placeholder="Search a barcode"
        [(ngModel)]="barcode"
        (keyup.enter)="getProductsByBarcode()"
      />
      <div class="input-group-append">
        <button
          class="material-icons btn btn-outline-secondary"
          type="button"
          [disabled]="barcode === undefined"
          (click)="getProductsByBarcode()"
        >
          search
        </button>
      </div>
    </div>
  </div>
</div>
<div class="container" *ngIf="selectedItem">
  <!-- {{
    selectedItem.product_name
      ? selectedItem.product_name
      : selectedItem.product_name_fr
  }}
  {{ selectedItem.nutriments["energy-kcal_serving"] | number }} Calories Per
  Serving -->
  <div class="row">
    <div class="col-md-6" data-aos="fade-right" data-aos-duration="1500">
      <ngb-carousel
        *ngIf="images.length !== 0"
        style="height: 500px; max-width: 500px; margin: 20px"
      >
        <ng-template ngbSlide *ngFor="let image of images; let i = index">
          <div class="picsum-img-wrapper">
            <img
              [src]="images[i]"
              alt="Random first slide"
              class="img-fluid w-90"
            />
          </div>
        </ng-template>
        <!-- <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="images[1]" alt="Random second slide" />
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="images[2]" alt="Random third slide" />
          </div>
        </ng-template> -->
      </ngb-carousel>
      <!-- <img
        style="border-radius: 5px"
        [src]="
          selectedItem.image_url
            ? selectedItem.image_url
            : 'https://cdn-icons-png.flaticon.com/512/1187/1187516.png?w=826'
        "
        alt=""
      /> -->
    </div>
    <div class="col-md-6" data-aos="fade-left" data-aos-duration="1500">
      <!-- <div
        *ngIf="selectedItem && !showSpinner && pieChartData"
        style="max-width: 600px"
      >
        <div>
          <div class="chart">
            <canvas
              baseChart
              [colors]="pieChartColors"
              [data]="pieChartData"
              [type]="pieChartType"
              [options]="pieChartOptions"
              [plugins]="pieChartPlugins"
            >
            </canvas>
          </div>
        </div>
      </div> -->
      <mat-card style="text-align: center; margin: 20px; height: 500px">
        <mat-card-subtitle style="text-align: left">{{
          selectedItem.brands
        }}</mat-card-subtitle>
        <mat-card-title>
          <div class="mat-display-2 displaySubheading">
            {{
              selectedItem.product_name
                ? selectedItem.product_name
                : selectedItem.product_name_fr
            }}
          </div>
        </mat-card-title>

        <!-- <div
          class="mat-headline displaySubheading"
          style="
            height: 300px;
            overflow: scroll;
            overflow-x: hidden;
            border-radius: 5px;
            border: 1px solid rgb(77, 130, 120, 0.2);
          "
        > -->
        <mat-card-content>
          <mat-accordion>
            <mat-expansion-panel style="overflow-y: scroll; max-height: 300px">
              <mat-expansion-panel-header style="text-align: center">
                <div class="mat-headline displaySubheading">
                  {{ selectedItem.ingredients_ids_debug.length }} Ingredients
                </div>
              </mat-expansion-panel-header>
              <p
                *ngFor="
                  let i of selectedItem.ingredients_ids_debug;
                  let current = index
                "
                class="mat-headline displaySubheading"
                style="margin: 10px; text-align: left"
              >
                <span style="color: rgb(77, 130, 120); font-size: xx-large">{{
                  current + 1
                }}</span>
                . {{ i }}
              </p>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-card-content>
      </mat-card>
      <mat-card style="height: 100px; margin: 20px">
        <mat-card-actions style="text-align: left">
          <button
            class="addToShoppingList"
            mat-raised-button
            aria-label="Example icon button with a shopping icon"
            (click)="addToShoppingList()"
          >
            <span class="material-icons"> shopping_basket </span>
          </button>

          <button
            class="addToShoppingList"
            mat-raised-button
            aria-label="Example icon button with a cookie"
            (click)="logFood()"
            [disabled]="numberOfGrams < 1 || numberOfGrams === undefined"
          >
            <span class="material-icons"> cookie </span>
          </button>
          <mat-form-field appearance="outline" style="width: 100px">
            <mat-label>Log Food(g)</mat-label>
            <input [(ngModel)]="numberOfGrams" matInput placeholder="0" />
          </mat-form-field>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div
    class="row"
    data-aos="fade-left"
    data-aos-duration="1500"
    data-aos-anchor=".mat-display-2"
  >
    <div class="mat-headline active displaySubheading">
      {{
        selectedItem.product_name
          ? selectedItem.product_name
          : selectedItem.product_name_fr
      }}
      Nutrient Data
      {{ selectedItem.nutriments.carbohydrates_serving ? "Per Serving" : "" }}
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="row" style="margin: 20px">
    <div
      class="col-md-6"
      data-aos="fade-right"
      data-aos-duration="1500"
      data-aos-anchor=".mat-display-2"
    >
      <div
        *ngIf="selectedItem && !showSpinner && pieChartData"
        style="max-width: 600px"
      >
        <div>
          <div class="chart">
            <canvas
              baseChart
              [colors]="pieChartColors"
              [data]="pieChartData"
              [type]="pieChartType"
              [options]="pieChartOptions"
              [plugins]="pieChartPlugins"
            >
            </canvas>
          </div>
        </div>
      </div>
    </div>
    <div
      class="col-md-6"
      data-aos="fade-left"
      data-aos-duration="1500"
      data-aos-anchor=".mat-display-2"
    >
      <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.position }}
          </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
          <mat-header-cell *matHeaderCellDef> Size </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.weight }}
          </mat-cell>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="symbol">
          <mat-header-cell *matHeaderCellDef> Unit </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.symbol }}
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
    </div>
  </div>
</div>
