<div class="footer displaySubheading">
  <div class="row">
    <div class="col-md-2">
      <h3 class="displaySubheading">USEFUL LINKS</h3>
      <div class="useful">
        <div><a>About</a></div>
        <div><a>Services</a></div>
        <div><a>Contact</a></div>
        <div><a>Shop</a></div>
        <div><a>Blog</a></div>
      </div>
    </div>
    <div class="col-md-7" align="center">
      <h3 class="displaySubheading">HEALTHY-U NEWSLETTER</h3>
      <form>
        <input
          style="
            text-align: center;
            font-family: 'Poppins', sans-serif;
            font-weight: bold;
            width: 50%;
          "
          type="email"
          placeholder="Your Email Address"
          required
        />
        <br />
        <button
          style="
            text-align: center;
            font-family: 'Poppins', sans-serif;
            font-weight: bolder;
          "
          mat-raised-button
          type="button"
        >
          Subscribe
        </button>
      </form>
    </div>
    <div class="col-md-3">
      <div class="contacts" style="margin-bottom: 40px">
        <h3 class="displaySubheading">Contact</h3>
        <a href="https://github.com/josephwwilliams"
          >github.com/josephwwilliams</a
        >
        <br />
        <a href="https://github.com/MichaelAl0">github.com/MichaelAl0</a>
      </div>
      <div class="icons">
        <i class="fab fa-github"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-facebook"></i>
      </div>
    </div>
  </div>
</div>
