<!-- <footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copy and paste your cite</p>
  </div>
</footer> -->

<div class="footer">
  <div class="col-1">
    <h3>USEFUL LINKS</h3>
    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Contact</a>
    <a href="#">Shop</a>
    <a href="#">Blog</a>
  </div>
  <div class="col-2">
    <h3>HEALTHY-U NEWSLETTER</h3>
    <form>
      <input type="email" placeholder="Your Email Address" required />
      <br />
      <button type="submit">SUBSCRIBE NOW</button>
    </form>
  </div>
  <div class="col-3">
    <div class="contacts">
      <h3>Contact</h3>
      <i class="fa-brands fa-github"> <p>github.com/josephwwilliams</p> </i>
      <br />
      <i class="fa-brands fa-github"><p>github.com/MichaelAl0</p></i>
    </div>
    <div class="icons">
      <i class="fab fa-github"></i>
      <i class="fab fa-twitter"></i>
      <i class="fab fa-instagram"></i>
      <i class="fab fa-facebook"></i>
    </div>
  </div>
</div>
