/* .container {
  display: flex;
  justify-content: space-around;
} */
section {
  margin-top: 15px;
  margin-bottom: 15px;
}
.displayHeading {
  text-align: center;

  font-family: "Lora", serif;
  padding-top: 80px;
  color: #384951;
}
.displaySubheading {
  text-align: center;
  margin-top: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #384951;
}
.signUpButton {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  margin-top: 20px;
  width: fit-content;
  background-color: #a4d0af;
  transform: scale(1.5);
}
.active {
  animation: wobble 0.75s alternate infinite;
}
@-webkit-keyframes wobble {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-10px);
  }
}

@keyframes wobble {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-10px);
  }
}
