<div class="container" *ngIf="show">
  <section>
    <div class="row" data-aos="fade-down" data-aos-duration="3000">
      <div class="col-md-6">
        <div class="mat-display-4 displayHeading">Health Starts With U</div>
        <mat-divider></mat-divider>
        <div class="mat-display-2 displaySubheading">
          Don't worry we'll do the counting for you.
          <div class="row" style="justify-content: center">
            <button
              class="signUpButton"
              mat-raised-button
              aria-label="Example icon button with a delete icon"
              routerLink="account/signup"
            >
              Create an account for free
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="chart">
          <div class="row" style="margin-top: 50px">
            <div class="mat-title displaySubheading">
              {{ pieChartDisplayProduct }}
              <mat-divider s></mat-divider>
            </div>
          </div>
          <canvas
            baseChart
            [data]="pieChartData"
            [type]="pieChartType"
            [options]="pieChartOptions"
            [plugins]="pieChartPlugins"
          >
          </canvas>
        </div>
      </div>
    </div>
  </section>
  <mat-divider></mat-divider>

  <ngb-carousel
    *ngIf="foodImages"
    style="width: auto; margin: 30px"
    data-aos="fade-left"
    data-aos-duration="3000"
    data-aos-anchor=".mat-display-2"
  >
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="foodImages[0]" alt="Random first slide" />
        <img class="secondImg" [src]="foodImages[1]" alt="Random first slide" />
        <img [src]="foodImages[2]" alt="Random first slide" />
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="foodImages[3]" alt="Random first slide" />
        <img class="secondImg" [src]="foodImages[4]" alt="Random first slide" />
        <img [src]="foodImages[5]" alt="Random first slide" />
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="foodImages[6]" alt="Random first slide" />
        <img class="secondImg" [src]="foodImages[7]" alt="Random first slide" />
        <img [src]="foodImages[8]" alt="Random first slide" />
      </div>
    </ng-template>
  </ngb-carousel>

  <mat-divider></mat-divider>
  <section>
    <div class="row">
      <div
        class="col-md-6"
        data-aos="fade-right"
        data-aos-duration="3000"
        data-aos-anchor=".mat-display-2"
      >
        <div
          class="mat-headline active displaySubheading"
          style="cursor: pointer"
          [routerLink]="'../product/nutrients/0009800895250'"
        >
          Nutella hazelnut spread (Per Serving)
        </div>
        <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.position }}
            </mat-cell>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="weight">
            <mat-header-cell *matHeaderCellDef> Size </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.weight }}
            </mat-cell>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="symbol">
            <mat-header-cell *matHeaderCellDef> Unit </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.symbol }}
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>
      </div>
      <div
        class="col-md-6"
        data-aos="fade-left"
        data-aos-duration="3000"
        data-aos-anchor=".mat-display-2"
      >
        <div class="mat-display-4 displayHeading">Product Nutrients</div>
        <mat-divider></mat-divider>
        <div class="mat-display-2 displaySubheading">
          User driven nutrients on everyday products.
        </div>
      </div>
    </div>
  </section>
  <mat-divider></mat-divider>
  <!-- <div class="mat-display-4">Life Tracker</div> -->
  <section>
    <div
      class="row"
      data-aos="fade-right"
      data-aos-duration="2000"
      data-aos-anchor=".mat-display-2"
      data-aos-delay="100"
    >
      <div class="col-md-6">
        <div class="mat-display-4 displayHeading">Shopping List</div>
        <mat-divider></mat-divider>
        <div class="mat-display-2 displaySubheading">
          Manage and get ready before being in the store.
        </div>
      </div>
      <div
        class="col-md-6"
        [ngClass]="{
          active: shoppingList.length === 0
        }"
      >
        <app-shopping-list></app-shopping-list>
      </div>
    </div>
  </section>
  <mat-divider></mat-divider>

  <ngb-carousel
    *ngIf="workoutImages"
    style="width: auto; margin: 30px"
    data-aos="fade-left"
    data-aos-duration="3000"
    data-aos-anchor=".mat-display-2"
  >
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="workoutImages[0]" alt="Random first slide" />
        <img
          class="secondImg"
          [src]="workoutImages[1]"
          alt="Random first slide"
        />
        <img [src]="workoutImages[2]" alt="Random first slide" />
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="workoutImages[3]" alt="Random first slide" />
        <img
          class="secondImg"
          [src]="workoutImages[4]"
          alt="Random first slide"
        />
        <img [src]="workoutImages[5]" alt="Random first slide" />
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="workoutImages[6]" alt="Random first slide" />
        <img
          class="secondImg"
          [src]="workoutImages[7]"
          alt="Random first slide"
        />
        <img [src]="workoutImages[8]" alt="Random first slide" />
      </div>
    </ng-template>
  </ngb-carousel>

  <mat-divider></mat-divider>
  <section>
    <app-fitness-tracking></app-fitness-tracking>
  </section>
</div>
<section *ngIf="!show">
  <app-user-home-page></app-user-home-page>
</section>
