<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder="Search for items!"
            [(ngModel)]="searchTerms"
            (keyup.enter)="searchForItems()"
          />
          <div class="input-group-append">
            <button
              class="material-icons btn btn-outline-secondary"
              type="button"
              (click)="searchForItems()"
            >
              search
            </button>
          </div>
        </div>
      </div>
      <div *ngIf="!showSpinner">
        <div
          *ngFor="let item of shoppingItems"
          style="
            border: 2px solid rgb(218, 218, 218);
            border-radius: 4px;
            margin: 10px;
          "
        >
          <div class="row">
            <div class="col-md-6">
              <img
                class="mx-auto d-block"
                style="
                  max-height: 100px;
                  width: auto;
                  border: 2px solid rgb(211, 211, 211);
                  border-radius: 4px;
                "
                [src]="
                  item.image_url
                    ? item.image_url
                    : 'https://cdn-icons-png.flaticon.com/512/1187/1187516.png?w=826'
                "
                alt=""
              />
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-8" style="padding: 10px">
                  <h1 class="row">
                    {{
                      item.product_name
                        ? item.product_name
                        : item.product_name_fr
                    }}
                  </h1>
                  <p class="row">
                    <!-- {{ item.brand_owner ? item.brand_owner : item.brands }} -->
                    {{ item.brands }}
                  </p>
                </div>
                <div class="col-md-4">
                  <button
                    mat-fab
                    color="warn"
                    aria-label="Example icon button with a delete icon"
                    (click)="addToShoppingList(item)"
                  >
                    <span class="material-icons"> shopping_basket </span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="showSpinner">
        <mat-spinner color="warn"></mat-spinner>
      </div>
    </div>
  </div>
</div>
