<mat-toolbar>
  <div class="toolBarIcons">
    <span style="transform: scale(2)" class="material-icons"> insights </span>
  </div>
  <div class="mat-headline" style="font-family: 'Lora', serif">Healthy-U</div>
  <span class="example-spacer"></span>
  <div class="toolBarIcons toolBarIconClickable">
    <span
      [matBadge]="shoppingList"
      class="material-icons"
      routerLink="shopping-list"
      routerLinkActive="active-link"
    >
      list_alt
    </span>
  </div>
  <div class="toolBarIcons toolBarIconClickable">
    <span
      class="material-icons"
      [ngClass]="{
        settingsIcon: isSettingsDialogOpen
      }"
      (click)="open()"
    >
      settings
    </span>
  </div>
</mat-toolbar>
