<div class="container">
  <div
    class="row"
    data-aos="fade-down"
    data-aos-duration="1500"
    data-aos-anchor=".mat-display-2"
  >
    <div
      class="mat-display-4"
      style="
        text-align: center;

        font-family: 'Lora', serif;

        color: #384951;
      "
    >
      Fitness Tab
    </div>

    <div class="container" style="text-align: center">
      <div class="row">
        <div class="col-md-6">
          <h1 class="displaySubheading">Log Date : {{ date }}</h1>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input
              (dateInput)="OnDateChange($event.value)"
              matInput
              [matDatepicker]="picker"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
    </div>

    <h1 class="displaySubheading" *ngIf="currentCalories === 0">0%</h1>
    <h1 class="displaySubheading" *ngIf="currentCalories > 0">
      {{ value | number }}%
    </h1>
    <mat-progress-bar mode="buffer" [value]="value"></mat-progress-bar>
    <h1 class="displaySubheading">
      {{ currentCalories | number }} out of
      {{ totalCalories | number }} calories
    </h1>
  </div>
  <div class="row">
    <div
      class="col-md-6"
      data-aos="fade-right"
      data-aos-duration="1500"
      data-aos-anchor=".mat-display-2"
    >
      <div
        class="mat-display-3"
        style="
          text-align: center;

          font-family: 'Lora', serif;
          padding-top: 80px;

          color: #384951;
        "
      >
        Current Macros for the day
      </div>
      <mat-divider></mat-divider>
      <mat-list>
        <mat-list-item class="mat-headline displaySubheading">
          Carbs : {{ currentCarbs | number }} out of
          {{ totalCarbs | number }}</mat-list-item
        >
        <mat-list-item class="mat-headline displaySubheading">
          Fats : {{ currentFats | number }} out of
          {{ totalFats | number }}</mat-list-item
        >
        <mat-list-item class="mat-headline displaySubheading">
          Protiens : {{ currentProteins | number }} out of
          {{ totalProteins | number }}</mat-list-item
        >
      </mat-list>
    </div>
    <div
      class="col-md-6"
      data-aos="fade-left"
      data-aos-duration="1500"
      data-aos-anchor=".mat-display-2"
    >
      <div class="chart">
        <canvas
          baseChart
          [data]="pieChartData"
          [type]="pieChartType"
          [options]="pieChartOptions"
          [plugins]="pieChartPlugins"
        >
        </canvas>
      </div>
    </div>
  </div>
</div>
