<app-toolbar *ngIf="!show"></app-toolbar>
<app-no-user-toolbar *ngIf="show"></app-no-user-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sideNav mode="side" opened *ngIf="!show">
    <app-side-nav></app-side-nav>
  </mat-sidenav>
  <mat-sidenav-content>
    <button
      style="width: fit-content; background-color: #a4d0af; margin-right: 30px"
      mat-raised-button
      aria-label="Example login button"
      (click)="show = !show"
    >
      Toggle User
    </button>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
