.itemContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 1.5em 2.5em;
}
.addToShoppingList {
  position: absolute;
  bottom: 5px;
  left: 5%;
  background-color: #6d9c8a;
  color: white;
}
:host ::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #6d9c8a;
}
