<div class="container" data-aos="fade-up" data-aos-duration="1000">
  <div class="row">
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-append">
          <mat-form-field
            style="width: fit-content"
            appearance="fill"
            matTooltip="Choose a brand to search from"
            matTooltipPosition="above"
          >
            <mat-label>{{
              brands.length === 0 ? "Loading brands..." : brand
            }}</mat-label>
            <mat-select
              [value]="brand"
              [(ngModel)]="brand"
              name="brand"
              [disabled]="brands.length === 0"
              (selectionChange)="onChange()"
            >
              <mat-option *ngFor="let brand of brands" [value]="brand.id">
                {{ brand.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <input
          style="max-height: 38px"
          type="text"
          class="form-control"
          placeholder="Search for items!"
          [(ngModel)]="searchTerms"
          (keyup.enter)="searchForItems()"
        />
        <div class="input-group-append">
          <button
            class="material-icons btn btn-outline-secondary"
            type="button"
            (click)="searchForItems()"
          >
            search
          </button>
        </div>
      </div>
    </div>
    <div
      class="itemContainer"
      *ngIf="!showSpinner"
      data-aos="fade-up"
      data-aos-duration="1000"
    >
      <mat-card
        class="example-card"
        style="
          width: 200px;
          height: 400px;
          margin: 20px;
          box-shadow: -2px 8px 20px 0px rgba(0, 0, 0, 0.6);
          border-radius: 5px;
        "
        *ngFor="let item of shoppingItems"
      >
        <mat-card-header class="cardHeader">
          <!-- <img
            mat-card-image
            class="mx-auto img-fluid"
            style="max-height: 150px; width: auto; cursor: pointer"
            [src]="
              item.image_url
                ? item.image_url
                : (item.food_groups_tags | placeholderPipe | async)
            "
            alt=""
            (click)="openProduct(item)"
          /> -->
          <img
            mat-card-image
            class="mx-auto img-fluid"
            style="max-height: 150px; width: auto; cursor: pointer"
            [src]="item.image_url ? item.image_url : placeholderImage"
            alt=""
            (click)="openProduct(item)"
          />
        </mat-card-header>
        <mat-card-content>
          <h1
            class="row"
            style="
              cursor: pointer;
              font-family: 'Poppins', sans-serif;
              font-weight: bold;
            "
            (click)="openProduct(item)"
          >
            {{
              item.abbreviated_product_name
                ? item.abbreviated_product_name
                : item.product_name
            }}
          </h1>
        </mat-card-content>
        <mat-card-actions>
          <button
            style="width: 90%"
            class="addToShoppingList"
            mat-raised-button
            aria-label="Example icon button with a shopping icon"
            (click)="addToShoppingList(item)"
          >
            <span class="material-icons"> shopping_basket </span>
          </button>
        </mat-card-actions>
      </mat-card>
      <!-- </div> -->
    </div>

    <div *ngIf="showSpinner" class="itemContainer">
      <mat-spinner></mat-spinner>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <mat-paginator
        style="margin-bottom: 50px"
        #paginator
        [pageSize]="pageSize"
        [length]="count"
        [pageSizeOptions]="pageSizeOptions"
        (page)="onPageChange($event)"
        aria-label="Select page"
      >
      </mat-paginator>
    </div>
  </div>
</div>
