.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.RemoveFromShoppingList {
  /* position: absolute; */
  right: 0;
  background-color: #6d9c8a;
  color: white;
}
.RemoveFromShoppingList:hover {
  transform: scale(1.1);
  transition: all 300ms ease;
  opacity: 0.6;
}
.displaySubheading {
  text-align: center;
  margin-top: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #384951;
}
.signUpButton {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  width: fit-content;
  cursor: pointer;
  background-color: #a4d0af;
  margin: 5px;
  animation: action 0.75s alternate infinite;
}
