.container {
  padding: 20px;
  /* background-color: #a8c2fb; */
  background-color: #86b049;
  height: 100%;
  max-width: 150px;
  overflow: hidden;
}
button {
  padding: 10px;
  border-radius: 15px;
}
.active-link {
  background-color: #476930;
  -webkit-animation: action 0.5s alternate infinite;
  animation: action 0.75s alternate infinite;
}
@-webkit-keyframes action {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes action {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
