<div class="container">
  <div class="row">
    <button
      routerLinkActive="active-link"
      mat-button
      class="mat-display-1"
      routerLink="home"
    >
      <span class="material-icons"> home </span>
    </button>
  </div>
  <div class="row">
    <button
      mat-button
      class="mat-display-1"
      routerLink="shopping"
      routerLinkActive="active-link"
    >
      <span class="material-icons"> store </span>
    </button>
  </div>
  <div class="row" *ngIf="router.url">
    <button
      mat-button
      class="mat-display-1"
      [routerLink]="'product/nutrients/search'"
      routerLinkActive="active-link"
    >
      <span class="material-icons"> menu_book </span>
      <a [routerLink]="['product/nutrients']" style="display: none"></a>
    </button>
  </div>
  <div class="row">
    <button
      mat-button
      class="mat-display-1"
      routerLink="fitness"
      routerLinkActive="active-link"
    >
      <span class="material-icons"> monitor_heart </span>
    </button>
  </div>
</div>
