<div class="row">
  <h1>Shopping List</h1>
  <div *ngFor="let item of shoppingList; let i = index">
    <div class="row">
      <img
        style="max-width: 100px; height: auto"
        [src]="
          item.image_url
            ? item.image_url
            : 'https://cdn-icons-png.flaticon.com/512/1187/1187516.png?w=826'
        "
        alt=""
      />
    </div>
    <h1 class="row">
      {{ item.product_name }}
    </h1>
    <p class="row">
      <!-- {{ item.brand_owner ? item.brand_owner : item.brands }} -->
      {{ item.brands }}
    </p>
    <button (click)="RemoveFromShoppingList(item, i)">-</button>
    <hr />
  </div>
  <div *ngIf="shoppingList.length === 0">
    <h1>Your shopping list is empty!</h1>
  </div>
</div>
