mat-toolbar {
  position: sticky;
  /* position: -webkit-sticky; */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: #384951;
  color: white;
}
.example-spacer {
  flex: 1 1 auto;
}
.toolBarIcons {
  margin: 15px;
}
.toolBarIconClickable {
  cursor: pointer;
}
