<mat-toolbar>
  <div class="toolBarIcons">
    <span
      style="transform: scale(2); cursor: pointer"
      class="material-icons"
      routerLink="home"
    >
      insights
    </span>
  </div>
  <div
    class="mat-headline"
    style="font-family: 'Lora', serif; cursor: pointer"
    routerLink="home"
  >
    Healthy-U
  </div>
  <span class="example-spacer"></span>
  <div class="row">
    <!-- <div class="col-md-8">
      <div
        class="mat-headline"
        style="
          font-family: 'Poppins', sans-serif;
          font-weight: bold;
          text-align: center;
        "
      >
        Already A User?
      </div>
    </div>
    <div class="col-md-4"> -->
    <button
      style="width: fit-content; background-color: #a4d0af; margin-right: 30px"
      mat-raised-button
      aria-label="Example login button"
      routerLink="home/account/login"
    >
      Login
    </button>
    <!-- </div> -->
  </div>
</mat-toolbar>
