.displayHeading {
  text-align: center;
  font-family: "Lora", serif;
  padding-top: 80px;
  color: #384951;
}
.displaySubheading {
  text-align: center;
  margin-top: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #384951;
}
.signUpButton {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  width: fit-content;
  cursor: pointer;
  background-color: #a4d0af;
  margin: 5px;
  animation: action 0.75s alternate infinite;
}
