<div class="container" *ngIf="!data.copied">
  <div class="div" *ngIf="data.message">
    <div class="row" style="text-align: center">
      {{ data.message
      }}<mat-icon style="cursor: pointer" routerLink="shopping-list"
        >shopping_cart</mat-icon
      >
    </div>
  </div>
  <div *ngIf="data.item !== undefined">
    {{
      (data.item.product_name ? data.item.product_name : "Product ") +
        " added to shopping list!"
    }}
  </div>
  <div *ngIf="data.item === undefined && !data.message">
    {{
      (data.removedItem.product_name
        ? data.removedItem.product_name
        : "Product ") + " removed from shopping list!"
    }}
  </div>
</div>
<div class="container">
  <div *ngIf="data.copied">
    {{ data.copied }}
  </div>
</div>
