<div
  class="container"
  *ngIf="!data.copied && !data.saveMessage && !data.loggedItem"
>
  <div class="div" *ngIf="data.message">
    {{ data.message }}
  </div>
  <div *ngIf="data.item !== undefined">
    {{
      (data.item.product_name ? data.item.product_name : "Product ") +
        " added to shopping list!"
    }}
  </div>
  <div *ngIf="data.item === undefined && !data.message">
    {{
      (data.removedItem.product_name
        ? data.removedItem.product_name
        : "Product ") + " removed from shopping list!"
    }}
  </div>
</div>
<div class="container" *ngIf="data.copied">
  <div>
    {{ data.copied }}
  </div>
</div>
<div class="container" *ngIf="data.saveMessage">
  <div>
    {{ data.saveMessage }}
  </div>
</div>
<div class="container" *ngIf="data.loggedItem">
  <div>
    You just logged {{ data.loggedItem.numberOfGrams }} grams of
    {{ data.loggedItem.item.product_name }}!
  </div>
</div>
